---
- name: Deploy amazin web app
  hosts: targets
  become: yes

  vars_files:
    - vars/main.yml

  tasks:
  # Web app setup
    - name: Install web packages
      apt:
        name: "{{ web_packages }}"
        state: present
        update_cache: yes

    - name: Create web root
      file:
        path: "{{ amazin_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Deploy PHP app
      copy:
        src: files/amazin.php
        dest: "{{ amazin_root }}/index.php"
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Deploy virtual host
      template:
        src: templates/vhost.conf.j2
        dest: /etc/apache2/sites-available/amazin.conf
        mode: '0644'

    - name: Enable site and disable default
      command: "{{ item }}"
      with_items:
        - a2dissite 000-default.conf
        - a2ensite amazin.conf
      notify: restart apache

  # Database setup
    - name: Install MySQL
      apt:
        name: mysql-server
        state: present
        update_cache: yes

    - name: Start MySQL
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Set MySQL root password
      command: mysql -u root -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{{ db_root_password }}'; FLUSH PRIVILEGES;"
      ignore_errors: yes

    - name: Create database
      mysql_db:
        name: "{{ db_name }}"
        state: present
        login_user: root
        login_password: "{{ db_root_password }}"

    - name: Create DB user
      mysql_user:
        name: "{{ db_user }}"
        password: "{{ db_password }}"
        priv: "{{ db_name }}.*:ALL"
        state: present
        login_user: root
        login_password: "{{ db_root_password }}"

    - name: Create table
      mysql_query:
        login_user: root
        login_password: "{{ db_root_password }}"
        db: "{{ db_name }}"
        query: |
          CREATE TABLE IF NOT EXISTS products (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255),
            description TEXT
          );

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted
        enabled: yes

