---
- name: Deploy amazin web app
  hosts: targets
  become: yes

  vars_files:
    - vars/main.yml

  tasks:
  # Web app setup
    - name: Install web packages
      apt:
        name: "{{ web_packages }}"
        state: present
        update_cache: yes

    - name: Create web root
      file:
        path: "{{ amazin_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Deploy PHP app
      copy:
        src: files/amazin.php
        dest: "{{ amazin_root }}/index.php"
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Deploy virtual host
      template:
        src: templates/vhost.conf.j2
        dest: /etc/apache2/sites-available/amazin.conf
        mode: '0644'

    - name: Enable site and disable default
      command: "{{ item }}"
      with_items:
        - a2dissite 000-default.conf
        - a2ensite amazin.conf
      notify: restart apache
  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted
        enabled: yes

  # Database setup
- name: configure DB server
  hosts: targets
  become: yes
  
  tasks:
    - name: Install MySQL Server
      ansible.builtin.dnf:
        name: mysql-server
        state: latest

    - name: Start and Enable MySQL server
      ansible.builtin.service:
        name: mysqld
        state: started
        enabled: yes 


